<form action="{% url 'developers:get_info' %}" method='POST'>
{% csrf_token %}
<br>Please provide all required data separated by coma ','<br>
Required first names:<br>
<textarea cols="40" rows="5" name="first_names">
</textarea><br>
Required last names:<br>
<textarea cols="40" rows="5" name="last_names">
</textarea><br>
Required locations:<br>
<textarea cols="40" rows="5" name="locations">
</textarea><br>
Required languages:<br>
<textarea cols="40" rows="5" name="languages">
</textarea><br>


<br><br>
<input type="submit" value="Submit">
</form>